*{
    margin: 0;
    padding: 0;
}


body{
    font-size: 100%;
    font-family: sans-serif;
}

div, section, span, ul, li, a, header{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}
/*css reset*/

header{
    background-color:#F9f9f9;
    width: 100%;
     height: 9%;
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    align-items: center;
    position: fixed;
    z-index: 999;
}

#menu li{
    list-style: none;
    display: inline-block;
    margin: 20px;
}

#menu li a{
    color: #000000;
    text-decoration: none;
    font-size: 20px;
}

section{
    width: 100%;
    float: left;
    height: 100vh;
    position: relative;
}


#video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.content {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}


/* beaches */

.beaches-section {
  background-color: #fff;
  height: auto;
  width: 100%;
  padding: 5rem 5rem;
}

.beaches-section h1 {
  color: #862041;
  font-size: 3rem;
  text-align: center;
  padding-bottom: 3rem;
}

.beaches-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
  gap: 2rem;
}

.beaches-section img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 0.4rem;
  transition: 0.5s;
}

.beaches-section img:hover {
  scale: 1.1;
}



/* forts */

.forts-section {
  background-color: #f9f9f9;
  height: auto;
  width: 100%;
  padding: 5rem 5rem;
}

.forts-section h1 {
  color: #862041;
  font-size: 3rem;
  text-align: center;
  padding-bottom: 3rem;
}

.forts-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
  gap: 2rem;
}

.forts-section img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 0.4rem;
  transition: 0.5s;
}

.forts-section img:hover {
  scale: 1.1;
}



/*  About */

.about {
  background-color: #fff;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 7rem 0;
}

.about-details {
  width: 55%;
  text-align: center;
}

.about-details h2 {
  font-size: 3rem;
  color: #862041;
}

.about-details p {
  font-size: 1.5rem;
  color: #862041;
  margin-top: 1.5rem;
  text-align:justify;
}



/*  Footer  */

.foot {
  height: auto;
}

footer {
  background-color: black;
  color: whitesmoke;
  padding: 2rem;
}

footer p {
  text-align: center;
}







/* responsive  */


@media (max-width: 576px) {



  header ul li {
    width: auto;
    font-size: 0.7rem;
  }




  .about {
    height: auto;
    padding: 4rem 0;
  }

  .about-details {
    width: 90%;
    text-align: justify;
  }

  .about-details h2 {
    text-align: center;
  }




  .beaches-section {
    height: auto;
    padding: 4rem 2rem;
  }

  .beaches-section h1 {
    padding: 2rem 0;
  }

  .beaches-container {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  }







  .forts-section {
    height: auto;
    padding: 4rem 2rem;
  }

  .forts-section h1 {
    padding: 2rem 0;
  }

  .forts-container {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  }

}








@media (max-width: 992px) {


  header #menu {
    gap: 1rem;
  }

  



  .about {
    height: auto;
  }

  .about-details {
    width: 75%;
    padding: 4rem 0;
  }

  .about-details p {
    text-align: justify;
  }






 

 .beaches-section {
    height: auto;
    padding: 4rem 5rem;
  }

  .beaches-section h1 {
    padding: 2rem 0;
  }






  .forts-section {
    height: auto;
    padding: 4rem 5rem;
  }

  .forts-section h1 {
    padding: 2rem 0;
  }

}